[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-extensions = "*"
pyparsing = "*"
pydot = "*"
django = "*"
djangorestframework = "*"
django-meta = "*"
django-robots = "*"
pillow = "*"
django-imagekit = "*"
django-seo-js = "*"

[dev-packages]

[requires]
python_version = "3.13"
