-i https://pypi.org/simple
asgiref==3.8.1; python_version >= '3.8'
brotli==1.1.0
certifi==2024.12.14; python_version >= '3.6'
charset-normalizer==3.4.1; python_version >= '3.7'
django==5.1.5; python_version >= '3.10'
django-appconf==1.0.6; python_version >= '3.7'
django-extensions==3.2.3; python_version >= '3.6'
django-imagekit==5.0.0
django-meta==2.4.2; python_version >= '3.7'
django-robots==6.1; python_version >= '3.7'
django-seo-js==0.4.1
djangorestframework==3.15.2; python_version >= '3.8'
idna==3.10; python_version >= '3.6'
pilkit==3.0
pillow==11.1.0; python_version >= '3.9'
pydot==3.0.4; python_version >= '3.8'
pyparsing==3.2.1; python_version >= '3.9'
requests==2.32.3; python_version >= '3.8'
sqlparse==0.5.3; python_version >= '3.8'
urllib3==2.3.0; python_version >= '3.9'
whitenoise[brotli]==6.9.0; python_version >= '3.9'
