{% load static %}

<!--? New Arrival Start -->
<div class="new-arrival">
  <div class="container">
    <!-- Section tittle -->
    <div class="row justify-content-center">
      <div class="col-xl-7 col-lg-8 col-md-10">
        <div
          class="section-tittle mb-60 text-center wow fadeInUp"
          data-wow-duration="2s"
          data-wow-delay=".2s"
        >
          <h2>Nouveaux<br />Arrivages</h2>
        </div>
      </div>
    </div>
    <div class="row">
      {% for item in arrivals %}
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
        <div
          class="single-new-arrival mb-50 text-center wow fadeInUp"
          data-wow-duration="1s"
          data-wow-delay=".1s"
        >
          <div class="popular-img">
            <img
              src="{{ item.image.url }}"
              style="object-fit: cover"
              height="300px"
              alt=""
            />
            {% if request.user.is_authenticated %}
            <div class="favorit-items" data-id="{{ item.id }}">
              <!-- <span class="flaticon-heart"></span> -->
              <img
                src="{% static 'assets/img/gallery/favorit-card.png' %}"
                alt=""
              />
            </div>
            {% else %}
            <a class="favorit-items" href="{% url 'accounts:login' %}">
              <!-- <span class="flaticon-heart"></span> -->
              <img
                src="{% static 'assets/img/gallery/favorit-card.png' %}"
                alt=""
              />
            </a>
            {% endif %}
          </div>
          <div class="popular-caption">
            <h3>
              <a href="{% url 'shop:product' pk=item.id %}"
                >{{ item.name|truncatechars:20 }}</a
              >
            </h3>
            <div class="rating mb-10">
              {% for i in item.rating_range %}
              <i class="fas fa-star"></i>
              {% endfor %}
            </div>
            <span>{{ item.price }} CDF</span>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <!-- Button -->
    <div class="row justify-content-center">
      <div class="room-btn">
        <a href="{% url 'shop:index' %}" class="border-btn">Voir plus</a>
      </div>
    </div>
  </div>
</div>
{% csrf_token %}
<!--? New Arrival End -->
