{% load static %}

<!--? Popular Items Start -->
<div class="popular-items pt-50">
  <div class="container-fluid">
    <div class="row">
      {% for item in popular_items %}
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div
          class="single-popular-items mb-50 text-center wow fadeInUp"
          data-wow-duration="1s"
          data-wow-delay=".1s"
        >
          <div class="popular-img">
            <img src="{{ item.image.url }}" alt="" />
            <div class="img-cap">
              <span>{{ item.category }}</span>
            </div>
            <div class="favorit-items">
              <a href="{% url 'shop:product' pk=item.id %}" class="btn"
                >Achetez maintenant</a
              >
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<!-- Popular Items End -->
