<!DOCTYPE html>
<html class="no-js" lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>SHION HOUSE</title>
    <meta name="description" content="Meilleur site de vente de la RDC" />

    {% include "home/styles/base.html" %}
  </head>
  <body class="full-wrapper">
    {% include "home/components/preloader.html" %}

    <main>
        {% block content %}
        {% endblock content %}
    </main>


    {% include "home/scripts/base.html" %}
  </body>
</html>
