{% extends 'accounts/base.html' %}

{% block content %}
<div class="container mt-5 flex justify-content-center items-center">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center">Connexion</h3>
                </div>
                <div class="card-body">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}

                    {% if form.errors %}
                        <div class="alert alert-danger">
                            {% for key, val in form.errors.items %}
                                <p>{{val}}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                    
                    <form method="post">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="form-group mb-3">
                                {{ field.label_tag }}
                                {{ field }}
                                {% if field.errors %}
                                    {% for error in field.errors %}
                                        <small class="text-danger">{{ error }}</small>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        {% endfor %}
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary">Se connecter</button>
                        </div>
                    </form>
                    <div class="text-center mt-3">
                        <p>Vous n'avez pas de compte ? <a href="{% url 'accounts:signup' %}">S'inscrire</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
