{% load static %}

<!-- listing Area Start -->
<div class="category-area">
  <div class="container">
    <div class="row">
      <div class="col-xl-7 col-lg-8 col-md-10">
        <div class="section-tittle mb-50">
          <h2>Achetez avec nous</h2>
          <p>Parcourez nos {{ product_count }} derniers articles</p>
        </div>
      </div>
    </div>
    <div class="row">
      <!--? Left content -->
      <div class="col-xl-3 col-lg-3 col-md-4">
        <!-- Job Category Listing start -->
        <div class="category-listing mb-50">
          <!-- single one -->
          <div class="single-listing">
            <!-- Select City items start -->
            <div class="select-job-items2">
              <select name="select2" onchange="window.location.href = this.value;">
                {% for category in categories %}
                  <option value="{{ request.path }}?category={{ category.id }}{% if request.GET.query %}&query={{ request.GET.query }}{% endif %}">{{ category }}</option>
                {% endfor %}
              </select>
            </div>
          
           
            <!-- Select km items start -->
            <div class="select-job-items2">
              <select name="select6" onchange="window.location.href = this.value;">
                <option value="">Gamme de prix</option>
                <option value="{{ request.path }}?price=10000,20000{% if request.GET.query %}&query={{ request.GET.query }}{% endif %}">10000 CDF à 20000 CDF</option>
                <option value="{{ request.path }}?price=20000,50000{% if request.GET.query %}&query={{ request.GET.query }}{% endif %}">20000 CDF à 50000 CDF</option>
                <option value="{{ request.path }}?price=50000,100000{% if request.GET.query %}&query={{ request.GET.query }}{% endif %}">50000 CDF à 100000 CDF</option>
                <option value="{{ request.path }}?price=100000,200000{% if request.GET.query %}&query={{ request.GET.query }}{% endif %}">100000 CDF à 200000 CDF</option>
                <option value="{{ request.path }}?price=200000,300000{% if request.GET.query %}&query={{ request.GET.query }}{% endif %}">200000 CDF à 300000 CDF</option>
                <option value="{{ request.path }}?price=300000,400000{% if request.GET.query %}&query={{ request.GET.query }}{% endif %}">300000 CDF à 400000 CDF</option>
              </select>
            </div>
            <!--  Select km items End-->
            {% if request.GET.query or request.GET.price or request.GET.category %}
            <div>
              <a href="{% url 'shop:index' %}" class="link-opacity-100 link-underline-primary text-primary">Reinitialiser</a>
            </div>
            {% endif %}
          </div>
        </div>
        <!-- Job Category Listing End -->
      </div>
      <!--?  Right content -->
      <div class="col-xl-9 col-lg-9 col-md-8">
        <!--? New Arrival Start -->
        <div class="new-arrival new-arrival2">
          <div class="row">
            {% for product in products %}
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
              <div class="single-new-arrival mb-50 text-center">
                <div class="popular-img">
                  <img src="{{ product.image.url }}" height="360px" style="object-fit: cover" alt="" />
                  {% if request.user.is_authenticated %}
                  <div class="favorit-items" data-id="{{ item.id }}">
                    <!-- <span class="flaticon-heart"></span> -->
                    <img
                      src="{% static 'assets/img/gallery/favorit-card.png' %}"
                      alt=""
                    />
                  </div>
                  {% else %}
                  <a class="favorit-items" href="{% url 'accounts:login' %}">
                    <!-- <span class="flaticon-heart"></span> -->
                    <img
                      src="{% static 'assets/img/gallery/favorit-card.png' %}"
                      alt=""
                    />
                  </a>
                  {% endif %}
                </div>
                <div class="popular-caption">
                  <h3>
                    <a href="{% url 'shop:product' pk=product.id %}">{{ product.name }}</a>
                  </h3>
                  <div class="rating mb-10">
                    {% for i in product.rating_range %}
                    <i class="fas fa-star"></i>
                    {% endfor %}
                  </div>
                  <span>{{ product.price }} CDF</span>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        <!--? New Arrival End -->
      </div>
    </div>
  </div>
</div>
<!-- listing-area Area End -->
