{% load static %}

<!-- listing Area Start -->
<div class="category-area">
  <div class="container">
    <div class="row">
      <div class="col-xl-7 col-lg-8 col-md-10">
        <div class="section-tittle mb-50">
          <h2>Achetez avec nous</h2>
          <p>Parcourez nos 230 derniers articles</p>
        </div>
      </div>
    </div>
    <div class="row">
      <!--? Left content -->
      <div class="col-xl-3 col-lg-3 col-md-4">
        <!-- Job Category Listing start -->
        <div class="category-listing mb-50">
          <!-- single one -->
          <div class="single-listing">
            <!-- Select City items start -->
            <div class="select-job-items2">
              <select name="select2">
                <option value="">Catégorie</option>
                <option value="">Chemise</option>
                <option value="">T-shirt</option>
                <option value="">Pantalon</option>
                <option value="">Robe</option>
              </select>
            </div>
            <!--  Select City items End-->
            <!-- Select State items start -->
            <div class="select-job-items2">
              <select name="select3">
                <option value="">Type</option>
                <option value="">P</option>
                <option value="">M</option>
                <option value="">G</option>
                <option value="">TG</option>
              </select>
            </div>
            <!--  Select State items End-->
            <!-- Select km items start -->
            <div class="select-job-items2">
              <select name="select4">
                <option value="">Taille</option>
                <option value="">36.5cm</option>
                <option value="">76.2cm</option>
                <option value="">158.5cm</option>
                <option value="">97.5cm</option>
              </select>
            </div>
            <!--  Select km items End-->
            <!-- Select km items start -->
            <div class="select-job-items2">
              <select name="select5">
                <option value="">Couleur</option>
                <option value="">Blanc</option>
                <option value="">Vert</option>
                <option value="">Bleu</option>
                <option value="">Bleu ciel</option>
                <option value="">Gris</option>
              </select>
            </div>
            <!--  Select km items End-->
            <!-- Select km items start -->
            <div class="select-job-items2">
              <select name="select6">
                <option value="">Gamme de prix</option>
                <option value="">10€ à 20€</option>
                <option value="">20€ à 30€</option>
                <option value="">50€ à 80€</option>
                <option value="">100€ à 120€</option>
                <option value="">200€ à 300€</option>
                <option value="">500€ à 600€</option>
              </select>
            </div>
            <!--  Select km items End-->
          </div>
        </div>
        <!-- Job Category Listing End -->
      </div>
      <!--?  Right content -->
      <div class="col-xl-9 col-lg-9 col-md-8">
        <!--? New Arrival Start -->
        <div class="new-arrival new-arrival2">
          <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
              <div class="single-new-arrival mb-50 text-center">
                <div class="popular-img">
                  <img src="{% static 'assets/img/gallery/arrival2.png' %}" alt="" />
                  <div class="favorit-items">
                    <!-- <span class="flaticon-heart"></span> -->
                    <img src="{% static 'assets/img/gallery/favorit-card.png' %}" alt="" />
                  </div>
                </div>
                <div class="popular-caption">
                  <h3>
                    <a href="product_details.html">Pull en maille</a>
                  </h3>
                  <div class="rating mb-10">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                  </div>
                  <span>30.00€</span>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
              <div class="single-new-arrival mb-50 text-center">
                <div class="popular-img">
                  <img src="{% static 'assets/img/gallery/arrival3.png' %}" alt="" />
                  <div class="favorit-items">
                    <!-- <span class="flaticon-heart"></span> -->
                    <img src="{% static 'assets/img/gallery/favorit-card.png' %}" alt="" />
                  </div>
                </div>
                <div class="popular-caption">
                  <h3>
                    <a href="product_details.html">Pull en maille</a>
                  </h3>
                  <div class="rating mb-10">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                  </div>
                  <span>30.00€</span>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
              <div class="single-new-arrival mb-50 text-center">
                <div class="popular-img">
                  <img src="{% static 'assets/img/gallery/arrival4.png' %}" alt="" />
                  <div class="favorit-items">
                    <!-- <span class="flaticon-heart"></span> -->
                    <img src="{% static 'assets/img/gallery/favorit-card.png' %}" alt="" />
                  </div>
                </div>
                <div class="popular-caption">
                  <h3>
                    <a href="product_details.html">Pull en maille</a>
                  </h3>
                  <div class="rating mb-10">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                  </div>
                  <span>30.00€</span>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
              <div class="single-new-arrival mb-50 text-center">
                <div class="popular-img">
                  <img src="{% static 'assets/img/gallery/arrival5.png' %}" alt="" />
                  <div class="favorit-items">
                    <!-- <span class="flaticon-heart"></span> -->
                    <img src="{% static 'assets/img/gallery/favorit-card.png' %}" alt="" />
                  </div>
                </div>
                <div class="popular-caption">
                  <h3>
                    <a href="product_details.html">Pull en maille</a>
                  </h3>
                  <div class="rating mb-10">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                  </div>
                  <span>30.00€</span>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
              <div class="single-new-arrival mb-50 text-center">
                <div class="popular-img">
                  <img src="{% static 'assets/img/gallery/arrival6.png' %}" alt="" />
                  <div class="favorit-items">
                    <!-- <span class="flaticon-heart"></span> -->
                    <img src="{% static 'assets/img/gallery/favorit-card.png' %}" alt="" />
                  </div>
                </div>
                <div class="popular-caption">
                  <h3>
                    <a href="product_details.html">Pull en maille</a>
                  </h3>
                  <div class="rating mb-10">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                  </div>
                  <span>30.00€</span>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
              <div class="single-new-arrival mb-50 text-center">
                <div class="popular-img">
                  <img src="{% static 'assets/img/gallery/arrival7.png' %}" alt="" />
                  <div class="favorit-items">
                    <!-- <span class="flaticon-heart"></span> -->
                    <img src="{% static 'assets/img/gallery/favorit-card.png' %}" alt="" />
                  </div>
                </div>
                <div class="popular-caption">
                  <h3>
                    <a href="product_details.html">Pull en maille</a>
                  </h3>
                  <div class="rating mb-10">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                  </div>
                  <span>30.00€</span>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
              <div class="single-new-arrival mb-50 text-center">
                <div class="popular-img">
                  <img src="{% static 'assets/img/gallery/arrival8.png' %}" alt="" />
                  <div class="favorit-items">
                    <!-- <span class="flaticon-heart"></span> -->
                    <img src="{% static 'assets/img/gallery/favorit-card.png' %}" alt="" />
                  </div>
                </div>
                <div class="popular-caption">
                  <h3>
                    <a href="product_details.html">Pull en maille</a>
                  </h3>
                  <div class="rating mb-10">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                  </div>
                  <span>30.00€</span>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
              <div class="single-new-arrival mb-50 text-center">
                <div class="popular-img">
                  <img src="{% static 'assets/img/gallery/arrival1.png' %}" alt="" />
                  <div class="favorit-items">
                    <!-- <span class="flaticon-heart"></span> -->
                    <img src="{% static 'assets/img/gallery/favorit-card.png' %}" alt="" />
                  </div>
                </div>
                <div class="popular-caption">
                  <h3>
                    <a href="product_details.html">Pull en maille</a>
                  </h3>
                  <div class="rating mb-10">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                  </div>
                  <span>30.00€</span>
                </div>
              </div>
            </div>
          </div>
          <!-- Button -->
          <div class="row justify-content-center">
            <div class="room-btn mt-20">
              <a href="catagori.html" class="border-btn">Voir plus</a>
            </div>
          </div>
        </div>
        <!--? New Arrival End -->
      </div>
    </div>
  </div>
</div>
<!-- listing-area Area End -->
